.card{
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 10px;
  margin: 10px;
  background-Color:grey;
  text-align:center;
  max-width:300px;
  display:inline-block;
}
.card-img{
  height:150px;
  width:150px;
  border: 2px black dotted;
  border-radius: 50%;
}
.card-text{
  font-family:Arial,sanserif;
}
.card-p{
  font-family:Arial,sanserif;
}
.button{
  padding:5px;
  margin:10px;
  border:none;
  color:white;
  background-color:red;
  cursor:pointer;
}
.button:hover{
  background-color:darkred;
}

.welcome{
  color: white;
  background-color: green;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.login{
  color: white;
  background-color: red;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}